/* stylelint-disable selector-list-comma-newline-after */
:root{
  --top-color: #cec10e;
  --bottom-color: #2196F3;
  --width: 100vw;
  --full-width: 100vw;
}
.body{
  /* background-color: #eaeae7; */
  /* background-color: #bfd7e3; */
  /* background-color: #f0a541; */
  /* background-color: #f5edec; */
  /* background-color: #ebf3f3; */
  /* background-color: #fcf4ef; */
  /* background-color: #e3d3c4; */
  background-color: #ebf2e8;
}
.img-circle{
 border-radius: 50%; 
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  font-size: 1.25rem;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* Style that first letter! */
.first-letter {
  font-size: 300%;
}

.pub{
  margin-bottom: 1.25%;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.index{
  text-align: right;
}

.bg-game-green{
  background-color: #8bbe1b;
}

.width-restrict-50{
  max-width: 50%;
}

/* .separator {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.separator::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  background-color: var(--top-color);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  z-index: -1;
}

.separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  background-color: var(--bottom-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  z-index: -1;
} */

.purple-game-section {
  background: purple;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
}

.yellow-game-section {
  background: #cec10e;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;
  z-index: -1;
}


.game-content-purple{
  background-color: rgb(114, 17, 206) !important; 
  color: white !important; 
}

.game-content-blue{
  background-color: #2196F3 !important; 
  color: white !important; 
}

.game-content-red{
  background-color: rgb(206, 17, 74) !important; 
  color: white !important; 
}

.yellow-background{
  background: #cec10e;
}

.picture-resize-container
{
   max-width: 940px;
}
